<h1>Welcome, <span ng-bind="user.name"></span></h1>
<p>Dashboard  | <a href="#/">Logout</a></p>
<div class="row main">
	<div class="text-right">
		<input type="text" ng-model="query" placeholder="Search..."> 
	</div>
	<div class="col-xl-12">
		<table class="table table-striped table-hover" topics>
			<thead>
				<tr>
					<th>Category</th>
					<th>Topic</th>
					<th>User Name</th>
					<th>Posts</th>
				</tr>
			</thead>
			<tbody ng-controller='topicController'>
				<tr ng-repeat="topic in topics | filter: query" >
					<td ng-bind="topic.category"></td>
					<td><a ng-bind="topic.title" href="#/topic/{{topic._id}}"></a></td>
					<td><a ng-bind="topic.name" ng-href="#/user/{{topic.user_id}}"></a></td>
					<td ng-bind="topic.posts"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<h2>Add a new Topic</h2>
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label class="col-sm-2 control-label">Topic:</label>
			<input type="text" class="col-sm-4" ng-model="newTopic.title">
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Description:</label>
			<textarea class="col-sm-4" rows="4" ng-model="newTopic.description"></textarea>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Category:</label>
			<select class="col-sm-4" ng-model="newTopic.category">
				<option value="HTML">HTML</option>
				<option value="MySQL">MySQL</option>
				<option value="Ruby on Rails">Ruby on Rails</option>
				<option value="JavaScript">JavaScript</option>
			</select>
		</div>
		<div class="form-group">
			<button class="btn btn-success col-md-1 col-md-offset-5" ng-click="createTopic(newTopic, user)">Add Topic</button>
		</div>
	</form>
</div>