<div>
	<p><a href="#/dashboard">Dashboard</a>  | <a href="#/">Logout</a></p>
	<h2><span ng-bind="user.name"></span></h2>
	<br>
	<h3>Posted...</h2>
	<h4><span ng-bind="user.topics.length"></span> Topics</h3>
	<h4><span ng-bind="user.posts.length"></span> Posts</h3>
	<!-- <h4><span ng-bind="user.comments.length"></span> Comments</h3> -->
</div>